@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@600&family=Itim&display=swap');

body {
  font-family: "Indie Flower";
  text-align: center;
  background-image: url("https://images3.alphacoders.com/591/591067.jpg");
  background-color: rgba(255, 255, 255, 0.5);
  /* Fondo blanco con 50% de transparencia */
  background-blend-mode: overlay;
  margin: 0;
  /* Eliminar el margen del cuerpo del documento */
  padding: 0;
  /* Eliminar el relleno del cuerpo del documento */

}

header {
  text-align: center;
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imagenFamilia {
  width: 260px;
  height: 210px;
}

main {
  padding: 0;
  /* Espaciado interior del elemento <main> */
  margin-left: 8%;
  margin-right: 5%;
  font-size: large;
  /* Otros estilos personalizados según tus preferencias */
}

label {
  color: #254805;
  /* Color del texto */
  font-family: "Indie Flower";
  font-size: x-large;
  font-weight: 900;
}

p {
  font-family: "Indie Flower";
  font-size: 16px;
  /* Tamaño de fuente */
  line-height: 1.5;
  /* Espaciado entre líneas */
  margin: 0 0 20px;
  /* Márgenes superior e inferior */
  color: #000000;
  /* Color del texto */
  font-weight: 700;
  font-size: x-large;
}

ul {
  text-align: center;
  width: 60%;
  margin-left: 20%;
  margin-right: 2%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;


}

.listas {
  display: flex;
  width: calc(30% - 10px);
  /* 10px de margen derecho (5px + 5px) se restan del 30% */
  background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url("https://static.vecteezy.com/system/resources/previews/004/948/426/non_2x/cartoon-comic-cloud-copy-space-background-on-blue-free-vector.jpg");
  /* La capa de fondo transparente se crea con linear-gradient */
  margin-right: 10px;
  /* Aumenta el margen derecho si lo deseas */
  margin-bottom: 20px;
  margin-top: 50px;
  border-radius: 20px;
  border: 5px solid #014B9B;
  font-family: "Gluten";
  font-size: 100%;
  font-weight: 700;
  /* Tamaño de fuente grande */
  list-style-type: none;
  /* Elimina la viñeta de los elementos li */
  height: 300px;
  width: 180px;


}

li,
dt,
dd {
  /* Estilos para los elementos <a> dentro de <li> */
  color: #02003A;
  /* Cambia el color del texto */
  text-decoration: none;
  text-align: initial;
  display: flex;
  flex-wrap: wrap;
}

.contenedor1,
h2 {
  background-color: #4A9F2D;
  /*cambia el color de fondo*/
  border: 5px solid #347e19d3;
  /*cambia el color del borde*/
  padding: 5px;
  margin: 20px;
  border-radius: 30px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  color: #FFFFFF;
  font-size: larger;
  font-family: "Indie Flower";
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  /* Centrar verticalmente */
  justify-content: center;
  /* Centrar horizontalmente */
}

.contenedor1 select {
  padding: 5px;
  border: 3px solid #227000;
  border-radius: 5px;
  background-color: #E2F3D5;

}

/* Estilo para las opciones personalizadas */
.contenedor1 select option {
  padding: 5px;
  background-color: #fff;
  color: #333;
  border-radius: 5px;
  font-size: large;
  /* Tamaño de fuente */
  font-family: "Indie Flower";
}

/* Estilo para la lista desplegable personalizada */
.contenedor1::after {
  content: '';
  /* No hay contenido por defecto */
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -5px;
  /* Alinea verticalmente el símbolo */
  border-width: 5px;
  border-style: solid;
  pointer-events: none;
  text-align: center;
}

#limpiar,
#facts {
  background-color: rgb(34, 77, 0);
  color: rgb(255, 255, 255);
  /* Cambia el color del texto a blanco */
  font-weight: bold;
  border: none;
  /* Quita el borde predeterminado */
  border-radius: 10px;
  /* Añade esquinas redondeadas */
  padding: 5px 10px;
  /* Añade espacio alrededor del texto */
  font-size: 20px;
  /* Cambia el tamaño del texto */
  cursor: pointer;
  /* Cambia el cursor al pasar el ratón sobre el botón */
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.2);
  /* Añade una sombra */
  margin-left: 70px;
  font-family: "Itim";
  font-size: x-large;
}

.contenedor2 {
  text-align: center;
  /* Centra el contenido horizontalmente */
  padding: 20px;
  /* Agrega un espacio alrededor del contenido */
  max-width: 1200px;
  /* Ajusta el valor según tus necesidades */
  margin: 0 auto;
  /* Centra horizontalmente */
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #7B3D87;
  /* Color de fondo del footer */
  color: #fff;
  /* Color de texto del footer */
  padding: 0;
  /* Espaciado interior del footer */
  text-align: center;
  /* Alineación del texto en el centro */
}

.mostrar,
.ocultar {
  font-size: 30px;
  cursor: pointer;
  display: none;
}

.contenedor1 {
  order: 1;
}

#check {
  display: none;
}

.tarjetas {
  width: 100vw;
  max-width: 1000px;
  min-width: 320px;
  margin: auto;
  /* Centra el contenedor en la página */
}

.tarjetas img {
  width: 100%;
  /* La imagen ocupa el 100% del ancho del contenedor */
  height: 150px;
  /* Mantiene la proporción de aspecto original */
}

@media (max-width: 312px) {

  body {
    font-family: cursive;
    text-align: center;
    background-image: url("https://images3.alphacoders.com/591/591067.jpg");
    background-color: rgba(255, 255, 255, 0.5);
    /* Fondo blanco con 50% de transparencia */
    background-blend-mode: overlay;
    margin: 0;
    /* Eliminar el margen del cuerpo del documento */
    padding: 0;
    /* Eliminar el relleno del cuerpo del documento */
  }

  .imagenFamilia {
    display: none;

  }

  .mostrar,
  .ocultar {
    display: block;
  }

  .mostrar {
    position: fixed;
    top: 10px;
    right: 10px;
    font-size: 50px;
    cursor: pointer;
  }

  .contenedor1 {
    position: fixed;
    width: 50%;
    height: 100vh;
    background: #86ca68;
    right: -100%;
    top: 0;
    text-align: center;
    padding: 100px 0px;
    z-index: 100;
    transition: 0.8s;
    font-size: larger;
    /* Tamaño de fuente */
    font-family: Arial, Helvetica, sans-serif;

  }

  .contenedor1 label {
    display: block;
    padding: 20px;
  }

  .ocultar {
    position: absolute;
    top: 40px;
    right: 40px;
  }

  #check:checked~.contenedor1 {
    right: 0;
  }

  h2 {
    display: none;
    border-radius: 5px;
    background-color: #c5c5d5
  }

  #check {
    visibility: hidden;
  }

  #facts {
    background-color: rgb(34, 77, 0);
    color: rgb(255, 255, 255);
    /* Cambia el color del texto a blanco */
    font-weight: bold;
    border: none;
    /* Quita el borde predeterminado */
    border-radius: 10px;
    /* Añade esquinas redondeadas */
    padding: 5px 10px;
    /* Añade espacio alrededor del texto */
    font-size: 20px;
    /* Cambia el tamaño del texto */
    cursor: pointer;
    /* Cambia el cursor al pasar el ratón sobre el botón */
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.2);
    /* Añade una sombra */

  }

  .listas {
    display: flex;

    width: calc(30% - 10px);
    /* 10px de margen derecho (5px + 5px) se restan del 30% */
    background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url("https://static.vecteezy.com/system/resources/previews/004/948/426/non_2x/cartoon-comic-cloud-copy-space-background-on-blue-free-vector.jpg");
    /* La capa de fondo transparente se crea con linear-gradient */
    margin-right: 150px;
    /* Aumenta el margen derecho si lo deseas */
    margin: auto;
    margin-bottom: 20px;
    margin-top: 200px;
    border-radius: 20px;
    border: 5px solid #014B9B;
    font-family: "Gluten";
    font-size: 100%;
    font-weight: 700;
    /* Tamaño de fuente grande */
    list-style-type: none;
    /* Elimina la viñeta de los elementos li */
    height: 300px;
    width: 180px;
    /* position: absolute;*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

  }

  .tarjetas {
    width: 100vw;
    max-width: 1000px;
    min-width: 320px;
    margin: auto;
    /* Centra el contenedor en la página */
  }

  .tarjetas img {
    width: 100%;
    /* La imagen ocupa el 100% del ancho del contenedor */
    height: 150px;
    /* Mantiene la proporción de aspecto original */
  }

  .imagenTitulo {
    width: 300px;
    height: 150px;
  }

  li dt,
  dd {
    /* Estilos para los elementos <a> dentro de <li> */
    color: #02003A;
    /* Cambia el color del texto */
    text-decoration: none;
    text-align: initial;
    display: flex;
    flex-wrap: wrap;

  }

  label {

    color: #254805;
    /* Color del texto */
    font-family: "Indie Flower";
    font-size: x-large;
    font-weight: 900;
  }

  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #7B3D87;
    /* Color de fondo del footer */
    color: #fff;
    /* Color de texto del footer */
    padding: 0;
    /* Espaciado interior del footer */
    text-align: center;
    /* Alineación del texto en el centro */
  }

  /* Estilo para el contenedor Flexbox */
  #root {
    display: flex;
    justify-content: center;
    /*align-items: center;*/
    height: 1150vh;
    /* Ajusta la altura según tus necesidades */
    width: 120%;

  }

  /* Estilo para la div con la clase "tarjetas" */
  .tarjetas {
    width: 150%;
    /* O ajusta según tus necesidades */
  }



}