body {
    font-family: cursive;
    text-align: center;
    background-image: url("https://images2.alphacoders.com/121/1211000.jpg");
    
}
header {
    font-size: medium;
    font-family: cursive;
    color: #000000;
    padding: 20px;
    
}
ul {
    text-align: center;
    width: 60%;
    margin-left: 18%;
    list-style-type: none;
}
li  {
  float: left;
  background-image: url("https://i.pinimg.com/564x/92/8f/92/928f9298be9a466aeba519bedfa1d541.jpg");
  margin-right: 5px;
  margin-bottom: 5px;
  margin-left: 10px; 
  margin-right: 5px; 
  margin-top: 50px;  
  border: #D7C8B6 2px olid;
  border-radius: 20px;
  border: 3px solid #000000;

}
